{% extends 'core/base.html' %}

{% block content %}
  <h2>Definir Nova Senha</h2>
  
  {% if validlink %}
    <p>Por favor, insira a sua nova senha duas vezes.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Alterar Senha</button>
    </form>
  {% else %}
    <p>O link para redefinição de senha é inválido. Isto pode acontecer porque já foi usado ou porque expirou.</p>
    <p><a href="{% url 'password_reset' %}">Tente pedir uma nova recuperação de senha.</a></p>
  {% endif %}
{% endblock %}